# ESP32-S3 target
CONFIG_IDF_TARGET="esp32s3"

# Use custom partition table (12MB factory)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Flash size 16MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# FreeRTOS 1000Hz tick for smooth servo motion
CONFIG_FREERTOS_HZ=1000

# Enable SPI Flash
CONFIG_SPI_FLASH_ENABLE_COUNTERS=y

# Increase main task stack (default 3584→8192) to avoid overflow during init
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# WiFi
CONFIG_ESP_WIFI_SSID="huachuang109"
CONFIG_ESP_WIFI_PASSWORD="huachuang109"
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=y
